* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand',sans-serif;
	color: black;
}
header {
	height: 70px;
}
header h1 {
	display: inline-block;
	float: left;
	padding: 15px 24px;
	text-transform: uppercase;
}
header h1 a{
	transition: .3s;
}
header h1 a:hover{
	color: #33FFE3;
}
header ul {
	float: right;
}
header ul li {
	padding: 24px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
}
header ul li a:hover {
	color: #33FFE3;
}
a {
	text-decoration: none;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding: 18px;
}
.mobil-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgb(88, 24, 69, .9);
	transition: .3s;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #DAF7A6;
	padding: 24px;
}
#check:cheked ~ .sidebar {
	left: 0;
}
.banner {
	background-color: #C70039;
	padding: 150px 0;
}
section {
	padding: 50px 0;
}
.banner img {
	width: 100px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;  
}
.banner h3,
.banner p,
.banner span {
	color: #fff;
}
.banner h3 {
	margin-bottom: 10px;
}
.banner p {
	font-size: 20px;
}
.banner-left {
	padding-left: 25px;
}
section h2 {
	padding-bottom: 20px;
	text-align: center;
	margin: 20px;
	position: relative;
}
section h2::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h2::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height: 4px;
	background-color: #FFC300;
	left: calc(50% - 20px);
}
#about p {
	text-align: justify;
	text-indent: 25px;
	line-height: 25px;
}
#skills,
#contact {
	background-color: #F5CED9 ;
}
.kolom-1 {
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
	float: left;
	text-align: center; 
}
.kolom-1 img {
	width: 100%;
}
.kolom-2 {
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
	float: left;
	text-align: center; 
}
.kolom-2 img {
	width: 100%;
}
.kolom-3 {
	width: 31%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
footer {
	background-color: black;
	padding: 30px;
	text-align: center;
}
footer small {
	color: white;
}

@media (max-width: 768px){
	.mobile-menu{
		display: block;
	}
	header ul {
		display: none;
	}
}